In [20]:
import pandas as pd

file = "data/EXP_1 V2.xlsx"

xls = pd.ExcelFile(file)
sheets = xls.sheet_names
sheets

['Seedlings measurements',
 'Water quality measurments Senso',
 'Water quality parametersPortabl',
 'Nutrients  Water consumptions',
 'Head diameter',
 'Harvest measurements 842024']

### Water quality parameters Portable

In [21]:
df_portable = pd.read_excel(file, sheet_name="Water quality parametersPortabl", header=None)
df_portable

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Date,10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Air parameters,NaN,NaN
1,NaN,Replicate 1 T1,NaN,NaN,NaN,Replicate 2 T1,NaN,NaN,NaN,Replicate 3 T1,...,NaN,NaN,NaN,Replicate 3 T2,NaN,NaN,NaN,Lux,RH%,Air temp.
2,NaN,pH,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,pH,...,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,NaN,NaN,NaN
3,2024-10-03 00:00:00,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
4,2024-11-03 00:00:00,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
5,2024-12-03 00:00:00,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
6,13/3/2024,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
7,14/3/2024,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN
8,15/3/2024,5.8,1.94,0.97,24.3,5.9,2.03,1.015,24.9,5.7,...,-,-,-,-,-,-,-,NaN,NaN,NaN
9,16/3/2024,5.7,1.94,0.97,23,5.9,2.01,1.005,24.1,5.7,...,2.02,1.01,23.4,6,1.92,0.96,24.7,NaN,NaN,NaN
10,17/3/2024,5.6,1.88,0.94,23.2,5.7,1.94,0.97,24.5,5.4,...,-,-,-,-,-,-,-,NaN,NaN,NaN
11,18/3/2024,5.6,1.88,0.94,22.6,5.7,1.95,0.975,22.6,5.5,...,-,-,-,-,-,-,-,NaN,NaN,NaN
12,19/3/2024,5.6,1.89,0.945,25.1,5.7,1.93,0.965,24.5,5.5,...,-,-,-,-,-,-,-,NaN,NaN,NaN
13,20/3/2024,5.4,1.9,0.95,22.2,5.5,1.96,0.98,23.7,5.3,...,1.78,0.89,24.6,5.8,1.75,0.875,26.7,NaN,NaN,NaN
14,21/3/2024,5.9,1.87,0.935,20.6,5.9,1.91,0.955,20.3,5.9,...,1.79,0.895,23.7,5.9,1.74,0.87,25.3,NaN,NaN,NaN
15,22/3/2024,5.8,1.86,0.93,25.1,5.8,1.88,0.94,24,5.9,...,1.87,0.935,24.3,5.8,1.74,0.87,26.9,NaN,NaN,NaN
16,23/3/2024,-,-,-,-,-,-,-,-,-,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
17,24/3/2024,-,-,-,-,-,-,-,-,-,...,1.64,0.82,25,5.8,1.66,0.83,26.7,NaN,NaN,NaN
18,25/3/2024,6.4,1.82,0.91,21.6,6,1.8,0.9,21.2,5.9,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
19,26/3/2024,6.3,1.81,0.905,22.8,6,1.81,0.905,21.9,5.9,...,1.82,0.91,24.6,6,1.82,0.91,27.7,NaN,NaN,NaN
20,27/3/2024,6.6,1.77,0.885,24.2,6.4,1.76,0.88,24,6.2,...,1.78,0.89,25.7,6.1,1.82,0.91,27.9,36530,54.8,25.1
21,28/3/2024,6.4,1.78,0.89,24.2,6.2,1.77,0.885,23.9,6.1,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
22,29/3/2024,-,-,-,-,-,-,-,-,-,...,1.76,0.88,26.3,6.7,1.78,0.89,27.2,NaN,NaN,NaN
23,30/3/2024,6.9,1.71,0.855,26.5,6.8,1.67,0.835,25.1,6.6,...,1.73,0.865,28.7,7.2,1.43,0.715,28.5,NaN,NaN,NaN
24,31/3/2024,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
25,2024-01-04 00:00:00,6.8,1.58,0.79,25.2,6.7,1.51,0.755,25.2,6.6,...,0.92,0.46,27.2,7,1.17,0.585,28.3,NaN,NaN,NaN
26,2024-02-04 00:00:00,6.4,1.7,0.85,25,6.2,1.83,0.915,25.4,6.4,...,1.62,0.81,27.5,6.5,1.71,0.855,29.4,NaN,NaN,NaN
27,2024-03-04 00:00:00,6,1.63,0.815,24.8,5.9,1.76,0.88,24.5,6.3,...,1.55,NaN,27.2,6.5,1.65,NaN,28.6,65870,61.7,26.3
28,2024-04-04 00:00:00,-,-,-,-,-,-,-,-,-,...,1.67,NaN,28.8,6.1,1.76,NaN,30.9,69530,51.2,29.3
29,2024-05-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2024-06-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2024-07-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2024-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54448.333333,57.166667,25.216667
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This dataset appears to be really messy. I want the end result to turn out like this:
DateTime, pH, EC, TDS, WaterTemp, Lux, RH, AirTemp

In [22]:
# First 3 rows are header info
header_rows = df_portable.iloc[0:3].copy()

# Recreate header_rows and data just to be safe
header_rows = df_portable.iloc[0:3].copy()
data = df_portable.iloc[3:].copy().reset_index(drop=True)

# ðŸ”¥ NEW: forward-fill header labels across columns
header_filled = header_rows.ffill(axis=1)

header_filled

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Date,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,...,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,Air parameters,Air parameters,Air parameters
1,NaN,Replicate 1 T1,Replicate 1 T1,Replicate 1 T1,Replicate 1 T1,Replicate 2 T1,Replicate 2 T1,Replicate 2 T1,Replicate 2 T1,Replicate 3 T1,...,Replicate 2 T2,Replicate 2 T2,Replicate 2 T2,Replicate 3 T2,Replicate 3 T2,Replicate 3 T2,Replicate 3 T2,Lux,RH%,Air temp.
2,NaN,pH,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,pH,...,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,Water temp.,Water temp.,Water temp.

In [24]:
new_cols = []

for col_idx in df_portable.columns:
    h0 = header_filled.iloc[0, col_idx]
    h1 = header_filled.iloc[1, col_idx]
    h2 = header_filled.iloc[2, col_idx]

    if col_idx == 0:
        # First column is Date
        new_cols.append("Date")
    else:
        parts = []
        for x in [h0, h1, h2]:
            if pd.notna(x):
                parts.append(str(x).strip())
        if parts:
            new_cols.append("_".join(parts))
        else:
            new_cols.append(f"col_{col_idx}")  # spacer columns with no header

data.columns = new_cols

data.head()

,Date,10:00:00_Replicate 1 T1_pH,10:00:00_Replicate 1 T1_EC,10:00:00_Replicate 1 T1_TDS,10:00:00_Replicate 1 T1_Water temp.,10:00:00_Replicate 2 T1_pH,10:00:00_Replicate 2 T1_EC,10:00:00_Replicate 2 T1_TDS,10:00:00_Replicate 2 T1_Water temp.,10:00:00_Replicate 3 T1_pH,...,14:00:00_Replicate 2 T2_EC,14:00:00_Replicate 2 T2_TDS,14:00:00_Replicate 2 T2_Water temp.,14:00:00_Replicate 3 T2_pH,14:00:00_Replicate 3 T2_EC,14:00:00_Replicate 3 T2_TDS,14:00:00_Replicate 3 T2_Water temp.,Air parameters_Lux_Water temp.,Air parameters_RH%_Water temp.,Air parameters_Air temp._Water temp.
0,2024-10-03 00:00:00,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
1,2024-11-03 00:00:00,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
2,2024-12-03 00:00:00,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
3,13/3/2024,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
4,14/3/2024,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN

In [25]:
data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
data.head()

,Date,10:00:00_Replicate 1 T1_pH,10:00:00_Replicate 1 T1_EC,10:00:00_Replicate 1 T1_TDS,10:00:00_Replicate 1 T1_Water temp.,10:00:00_Replicate 2 T1_pH,10:00:00_Replicate 2 T1_EC,10:00:00_Replicate 2 T1_TDS,10:00:00_Replicate 2 T1_Water temp.,10:00:00_Replicate 3 T1_pH,...,14:00:00_Replicate 2 T2_EC,14:00:00_Replicate 2 T2_TDS,14:00:00_Replicate 2 T2_Water temp.,14:00:00_Replicate 3 T2_pH,14:00:00_Replicate 3 T2_EC,14:00:00_Replicate 3 T2_TDS,14:00:00_Replicate 3 T2_Water temp.,Air parameters_Lux_Water temp.,Air parameters_RH%_Water temp.,Air parameters_Air temp._Water temp.
0,2024-10-03,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
1,2024-11-03,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
2,2024-12-03,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
3,2024-03-13,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
4,2024-03-14,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN

In [26]:
if data.columns[0] == "":
    data = data.drop(columns=[data.columns[0]])

In [27]:
clean_cols = {}

for col in data.columns:
    if col.startswith("Air parameters"):
        new_name = col.replace("_Water temp.", "").replace("_Water temp", "")
        clean_cols[col] = new_name

data = data.rename(columns=clean_cols)

In [28]:
[c for c in data.columns if c.startswith("Air parameters")]

['Air parameters_Lux',
 'Air parameters_RH%',
 'Air parameters_Air temp.',
 'Air parameters_Lux',
 'Air parameters_RH%',
 'Air parameters_Air temp.']

In [29]:
for col in data.columns:
    print(col)

Date
10:00:00_Replicate 1 T1_pH
10:00:00_Replicate 1 T1_EC
10:00:00_Replicate 1 T1_TDS
10:00:00_Replicate 1 T1_Water temp.
10:00:00_Replicate 2 T1_pH
10:00:00_Replicate 2 T1_EC
10:00:00_Replicate 2 T1_TDS
10:00:00_Replicate 2 T1_Water temp.
10:00:00_Replicate 3 T1_pH
10:00:00_Replicate 3 T1_EC
10:00:00_Replicate 3 T1_TDS
10:00:00_Replicate 3 T1_Water temp.
10:00:00_Replicate 1 T2_pH
10:00:00_Replicate 1 T2_EC
10:00:00_Replicate 1 T2_TDS
10:00:00_Replicate 1 T2_Water temp.
10:00:00_Replicate 2 T2_pH
10:00:00_Replicate 2 T2_EC
10:00:00_Replicate 2 T2_TDS
10:00:00_Replicate 2 T2_Water temp.
10:00:00_Replicate 3 T2_pH
10:00:00_Replicate 3 T2_EC
10:00:00_Replicate 3 T2_TDS
10:00:00_Replicate 3 T2_Water temp.
Air parameters_Lux
Air parameters_RH%
Air parameters_Air temp.
14:00:00_Replicate 1 T1_pH
14:00:00_Replicate 1 T1_EC
14:00:00_Replicate 1 T1_TDS
14:00:00_Replicate 1 T1_Water temp.
14:00:00_Replicate 2 T1_pH
14:00:00_Replicate 2 T1_EC
14:00:00_Replicate 2 T1_TDS
14:00:00_Replicate 2 T1_Water temp.
14:00:00_Replicate 3 T1_pH
14:00:00_Replicate 3 T1_EC
14:00:00_Replicate 3 T1_TDS
14:00:00_Replicate 3 T1_Water temp.
14:00:00_Replicate 1 T2_pH
14:00:00_Replicate 1 T2_EC
14:00:00_Replicate 1 T2_TDS
14:00:00_Replicate 1 T2_Water temp.
14:00:00_Replicate 2 T2_pH
14:00:00_Replicate 2 T2_EC
14:00:00_Replicate 2 T2_TDS
14:00:00_Replicate 2 T2_Water temp.
14:00:00_Replicate 3 T2_pH
14:00:00_Replicate 3 T2_EC
14:00:00_Replicate 3 T2_TDS
14:00:00_Replicate 3 T2_Water temp.
Air parameters_Lux
Air parameters_RH%
Air parameters_Air temp.

In [30]:
cols = list(data.columns)
len(cols)

55

In [32]:
new_cols = []

# 0 â€” Date
new_cols.append("Date")

# 1â€“24 â€” keep original names (10 AM replicates)
new_cols.extend(cols[1:25])

# 25â€“27 â€” rename to Air10
new_cols.extend(["Air10_Lux", "Air10_RH", "Air10_Temp"])

# 28â€“51 â€” keep original (14:00 water replicates)
new_cols.extend(cols[28:52])

# 52â€“54 â€” rename to Air14
new_cols.extend(["Air14_Lux", "Air14_RH", "Air14_Temp"])

In [33]:
data.columns = new_cols

In [34]:
for col in data.columns:
    print(col)

Date
10:00:00_Replicate 1 T1_pH
10:00:00_Replicate 1 T1_EC
10:00:00_Replicate 1 T1_TDS
10:00:00_Replicate 1 T1_Water temp.
10:00:00_Replicate 2 T1_pH
10:00:00_Replicate 2 T1_EC
10:00:00_Replicate 2 T1_TDS
10:00:00_Replicate 2 T1_Water temp.
10:00:00_Replicate 3 T1_pH
10:00:00_Replicate 3 T1_EC
10:00:00_Replicate 3 T1_TDS
10:00:00_Replicate 3 T1_Water temp.
10:00:00_Replicate 1 T2_pH
10:00:00_Replicate 1 T2_EC
10:00:00_Replicate 1 T2_TDS
10:00:00_Replicate 1 T2_Water temp.
10:00:00_Replicate 2 T2_pH
10:00:00_Replicate 2 T2_EC
10:00:00_Replicate 2 T2_TDS
10:00:00_Replicate 2 T2_Water temp.
10:00:00_Replicate 3 T2_pH
10:00:00_Replicate 3 T2_EC
10:00:00_Replicate 3 T2_TDS
10:00:00_Replicate 3 T2_Water temp.
Air10_Lux
Air10_RH
Air10_Temp
14:00:00_Replicate 1 T1_pH
14:00:00_Replicate 1 T1_EC
14:00:00_Replicate 1 T1_TDS
14:00:00_Replicate 1 T1_Water temp.
14:00:00_Replicate 2 T1_pH
14:00:00_Replicate 2 T1_EC
14:00:00_Replicate 2 T1_TDS
14:00:00_Replicate 2 T1_Water temp.
14:00:00_Replicate 3 T1_pH
14:00:00_Replicate 3 T1_EC
14:00:00_Replicate 3 T1_TDS
14:00:00_Replicate 3 T1_Water temp.
14:00:00_Replicate 1 T2_pH
14:00:00_Replicate 1 T2_EC
14:00:00_Replicate 1 T2_TDS
14:00:00_Replicate 1 T2_Water temp.
14:00:00_Replicate 2 T2_pH
14:00:00_Replicate 2 T2_EC
14:00:00_Replicate 2 T2_TDS
14:00:00_Replicate 2 T2_Water temp.
14:00:00_Replicate 3 T2_pH
14:00:00_Replicate 3 T2_EC
14:00:00_Replicate 3 T2_TDS
14:00:00_Replicate 3 T2_Water temp.
Air14_Lux
Air14_RH
Air14_Temp

Final column should look like this: DateTime, Treatment, Replicate, pH, EC, TDS, WaterTemp, Lux, RH, AirTemp

In [37]:
import pandas as pd
import re

# Select only water-sensor columns
water_cols = [c for c in data.columns if "pH" in c or "EC" in c or "TDS" in c or "Water temp" in c]

df_long = data.melt(
    id_vars=["Date"],
    value_vars=water_cols,
    var_name="RawColumn",
    value_name="Value"
)

# ðŸ”¥ CRITICAL FIX HERE
df_long["Value"] = pd.to_numeric(df_long["Value"], errors="coerce")

# Extract metadata
def parse_col(col):
    m = re.match(r"(\d\d:\d\d:\d\d)_Replicate (\d) (T\d)_(.+)", col)
    if m:
        return m.groups()
    return (None, None, None, None)

df_long[["Time", "Replicate", "Treatment", "Parameter"]] = df_long["RawColumn"].apply(
    lambda x: pd.Series(parse_col(x))
)

# Pivot
df_pivot = df_long.pivot_table(
    index=["Date", "Time", "Treatment", "Replicate"],
    columns="Parameter",
    values="Value",
    aggfunc="mean"
).reset_index()

# Fix column names
df_pivot.columns = df_pivot.columns.str.replace(" ", "")
df_pivot = df_pivot.rename(columns={
    "Watertemp.": "WaterTemp",
    "Watertemp": "WaterTemp"
})

In [39]:
air10 = pd.DataFrame({
    "Date": data["Date"],
    "Lux": pd.to_numeric(data["Air10_Lux"], errors="coerce"),
    "RH": pd.to_numeric(data["Air10_RH"], errors="coerce"),
    "AirTemp": pd.to_numeric(data["Air10_Temp"], errors="coerce"),
    "Time": "10:00:00"
})

air14 = pd.DataFrame({
    "Date": data["Date"],
    "Lux": pd.to_numeric(data["Air14_Lux"], errors="coerce"),
    "RH": pd.to_numeric(data["Air14_RH"], errors="coerce"),
    "AirTemp": pd.to_numeric(data["Air14_Temp"], errors="coerce"),
    "Time": "14:00:00"
})

air_all = pd.concat([air10, air14], ignore_index=True)

In [40]:
df_pivot = df_pivot.merge(
    air_all,
    on=["Date", "Time"],
    how="left"
)

In [42]:
df_pivot

,Date,Time,Treatment,Replicate,EC,TDS,WaterTemp,pH,Lux,RH,AirTemp
0,2024-01-04,10:00:00,T1,1,1.58,0.790,25.2,6.8,NaN,NaN,NaN
1,2024-01-04,10:00:00,T1,2,1.51,0.755,25.2,6.7,NaN,NaN,NaN
2,2024-01-04,10:00:00,T1,3,1.64,0.820,25.4,6.6,NaN,NaN,NaN
3,2024-01-04,10:00:00,T2,1,1.67,0.835,27.7,6.4,NaN,NaN,NaN
4,2024-01-04,10:00:00,T2,2,1.27,0.635,25.8,6.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
253,2024-12-03,14:00:00,T1,2,2.01,1.005,25.7,5.8,45190.0,55.0,26.7
254,2024-12-03,14:00:00,T1,3,2.01,1.005,26.0,5.7,45190.0,55.0,26.7
255,2024-12-03,14:00:00,T2,1,1.98,0.990,25.4,5.4,45190.0,55.0,26.7
256,2024-12-03,14:00:00,T2,2,2.02,1.010,25.5,5.9,45190.0,55.0,26.7
257,2024-12-03,14:00:00,T2,3,1.86,0.930,26.0,6.3,45190.0,55.0,26.7

In [43]:
# Save as CSV
df_pivot.to_csv("data/Portable_V2_clean.csv", index=False)