In [68]:
import pandas as pd

file = "data/EXP_1 V2.xlsx"

xls = pd.ExcelFile(file)
sheets = xls.sheet_names
sheets

['Seedlings measurements',
 'Water quality measurments Senso',
 'Water quality parametersPortabl',
 'Nutrients  Water consumptions',
 'Head diameter',
 'Harvest measurements 842024']

### Seedlings measurements

In [69]:
# Load the "Seedlings measurements" sheet without headers
df_seedlings = pd.read_excel(file, sheet_name="Seedlings measurements", header=None)
df_seedlings.shape

(12, 11)

In [70]:
df_seedlings.head(12)

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,EXP 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,plant NO.,plant height (cm),shoot length (cm),root length (cm),head diameter (cm),stem diameter (cm),total weight (g),shoot weight (g),root weight (g),no. of leaves
2,2024-09-03 00:00:00,1,9,2,7,4*2,0.1,1.3,0.5,0.8,5
3,NaN,2,10,3,7,3.5*3,0.1,1.2,0.55,0.65,5
4,NaN,3,10,3,7,3.5*2.5,0.1,1.1,0.53,0.57,5
5,NaN,4,9,2.5,6.5,3*3,0.1,1.14,0.45,0.69,4
6,NaN,5,10,3,7,3.5*2.5,0.1,1,0.4,0.6,5
7,NaN,6,10,3,7,3.5*3,0.1,1.1,0.44,0.66,5
8,NaN,7,9,2,7,2*3.5,0.1,1,0.4,0.6,5
9,NaN,8,9,2,7,4*3.5,0.1,1.5,0.6,0.9,5
10,NaN,9,9.5,3,6.5,3.5*2,0.1,1.4,0.54,0.86,4
11,NaN,10,12,3,9,4*2,0.1,1.5,0.57,0.93,4

In [71]:
# Promote the header
df = df_seedlings.copy()
df.columns = df.iloc[1]
df = df.drop(index=[0, 1])

df.head()

1,Date,plant NO.,plant height (cm),shoot length (cm),root length (cm),head diameter (cm),stem diameter (cm),total weight (g),shoot weight (g),root weight (g),no. of leaves
2,2024-09-03 00:00:00,1,9,2,7,4*2,0.1,1.3,0.5,0.8,5
3,NaN,2,10,3,7,3.5*3,0.1,1.2,0.55,0.65,5
4,NaN,3,10,3,7,3.5*2.5,0.1,1.1,0.53,0.57,5
5,NaN,4,9,2.5,6.5,3*3,0.1,1.14,0.45,0.69,4
6,NaN,5,10,3,7,3.5*2.5,0.1,1,0.4,0.6,5

In [72]:
# Clean column names
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(r"\(.*?\)", "", regex=True)   # remove (cm)
    .str.replace("[^a-zA-Z0-9]+", "_", regex=True)
    .str.replace("_+", "_", regex=True)
    .str.strip("_")
)
df.head()

1,date,plant_no,plant_height,shoot_length,root_length,head_diameter,stem_diameter,total_weight,shoot_weight,root_weight,no_of_leaves
2,2024-09-03 00:00:00,1,9,2,7,4*2,0.1,1.3,0.5,0.8,5
3,NaN,2,10,3,7,3.5*3,0.1,1.2,0.55,0.65,5
4,NaN,3,10,3,7,3.5*2.5,0.1,1.1,0.53,0.57,5
5,NaN,4,9,2.5,6.5,3*3,0.1,1.14,0.45,0.69,4
6,NaN,5,10,3,7,3.5*2.5,0.1,1,0.4,0.6,5

In [73]:
# Fix the date column (fill downward)
df["date"] = df["date"].ffill()
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df.head()

C:\Users\Dell\AppData\Local\Temp\ipykernel_22016\3013084879.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["date"] = df["date"].ffill()

1,date,plant_no,plant_height,shoot_length,root_length,head_diameter,stem_diameter,total_weight,shoot_weight,root_weight,no_of_leaves
2,2024-09-03,1,9,2,7,4*2,0.1,1.3,0.5,0.8,5
3,2024-09-03,2,10,3,7,3.5*3,0.1,1.2,0.55,0.65,5
4,2024-09-03,3,10,3,7,3.5*2.5,0.1,1.1,0.53,0.57,5
5,2024-09-03,4,9,2.5,6.5,3*3,0.1,1.14,0.45,0.69,4
6,2024-09-03,5,10,3,7,3.5*2.5,0.1,1,0.4,0.6,5

In [74]:
# Convert all numeric expressions into real numbers
import numpy as np

def clean_numeric(x):
    try:
        return eval(str(x))  # evaluate expressions safely
    except:
        return np.nan         # anything invalid â†’ NaN

numeric_cols = df.columns.drop("date")
numeric_cols

for col in numeric_cols:
    df[col] = df[col].apply(clean_numeric)

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df.head()

1,date,plant_no,plant_height,shoot_length,root_length,head_diameter,stem_diameter,total_weight,shoot_weight,root_weight,no_of_leaves
2,2024-09-03,1,9.0,2.0,7.0,8.00,0.1,1.30,0.50,0.80,5
3,2024-09-03,2,10.0,3.0,7.0,10.50,0.1,1.20,0.55,0.65,5
4,2024-09-03,3,10.0,3.0,7.0,8.75,0.1,1.10,0.53,0.57,5
5,2024-09-03,4,9.0,2.5,6.5,9.00,0.1,1.14,0.45,0.69,4
6,2024-09-03,5,10.0,3.0,7.0,8.75,0.1,1.00,0.40,0.60,5

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 2 to 11
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           10 non-null     datetime64[ns]
 1   plant_no       10 non-null     int64
 2   plant_height   10 non-null     float64
 3   shoot_length   10 non-null     float64
 4   root_length    10 non-null     float64
 5   head_diameter  10 non-null     float64
 6   stem_diameter  10 non-null     float64
 7   total_weight   10 non-null     float64
 8   shoot_weight   10 non-null     float64
 9   root_weight    10 non-null     float64
 10  no_of_leaves   10 non-null     int64
dtypes: datetime64[ns](1), float64(8), int64(2)
memory usage: 1012.0 bytes

In [76]:
# Save the clean V1 dataset
df.to_csv("data/Seedlings_V1_clean.csv", index=False)

### Water quality measurments Sensor

In [77]:
df_sensor = pd.read_excel(file, sheet_name="Water quality measurments Senso", header=None)
df_sensor.head(20)

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,NaN,Replicate 1 T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Tme,pH,EC,TDS,Water temp.,Date,Tme,RH %,Air temp. C,CO2 PPM
2,,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,NaN,NaN,NaN,406.96
3,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,10:00:00,49.08,24.18,406.55
4,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,11:00:00,47.51,23.55,413.38
5,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,12:00:00,46.8,23.81,412.5
6,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,13:00:00,47.12,24.48,408.94
7,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,14:00:00,47.64,24.74,410.58
8,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,15:00:00,48.55,24.43,413.71
9,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,16:00:00,49.41,25.27,427.72
10,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,17:00:00,50.27,20.93,440.55
11,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,18:00:00,51.56,16.91,443.4
12,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,19:00:00,53.32,15.9,447.13
13,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,20:00:00,54.98,14.95,449.82
14,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,21:00:00,56.49,14.01,453.56
15,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,22:00:00,57.83,13.26,455.81
16,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-11 00:00:00,23:00:00,58.9,12.44,460.04
17,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-11 00:00:00,00:00:00,59.81,11.37,465.31
18,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-11 00:00:00,01:00:00,60.26,10.82,471.44
19,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-11 00:00:00,02:00:00,60.62,10.42,475.82

In [78]:
for i in range(15):
    print(i, df_sensor.iloc[i].tolist())

0 [nan, nan, 'Replicate 1 T1', nan, nan, nan, nan, nan, nan, nan, nan]
1 ['Date ', 'Tme ', 'pH', 'EC ', 'TDS ', 'Water temp. ', 'Date ', 'Tme ', 'RH %', 'Air temp. C', 'CO2 PPM']
2 [' ', nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), nan, nan, nan, 406.96]
3 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(10, 0), 49.08, 24.18, 406.55]
4 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(11, 0), 47.51, 23.55, 413.38]
5 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(12, 0), 46.8, 23.81, 412.5]
6 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(13, 0), 47.12, 24.48, 408.94]
7 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(14, 0), 47.64, 24.74, 410.58]
8 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(15, 0), 48.55, 24.43, 413.71]
9 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(16, 0), 49.41, 25.27, 427.72]
10 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(17, 0), 50.27, 20.93, 440.55]
11 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(18, 0), 51.56, 16.91, 443.4]
12 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(19, 0), 53.32, 15.9, 447.13]
13 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(20, 0), 54.98, 14.95, 449.82]
14 [nan, nan, nan, nan, nan, nan, datetime.datetime(2024, 3, 10, 0, 0), datetime.time(21, 0), 56.49, 14.01, 453.56]

In [79]:
# Promote the header
df = df_sensor.copy()
df.columns = df.iloc[1]
df = df.drop(index=[0, 1])

df.head(10)

1,Date,Tme,pH,EC,TDS,Water temp.,Date,Tme,RH %,Air temp. C,CO2 PPM
2,,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,NaN,NaN,NaN,406.96
3,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,10:00:00,49.08,24.18,406.55
4,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,11:00:00,47.51,23.55,413.38
5,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,12:00:00,46.8,23.81,412.5
6,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,13:00:00,47.12,24.48,408.94
7,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,14:00:00,47.64,24.74,410.58
8,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,15:00:00,48.55,24.43,413.71
9,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,16:00:00,49.41,25.27,427.72
10,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,17:00:00,50.27,20.93,440.55
11,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,18:00:00,51.56,16.91,443.4

In [80]:
# Clean column names
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(r"\(.*?\)", "", regex=True)   # remove (cm)
    .str.replace("[^a-zA-Z0-9]+", "_", regex=True)
    .str.replace("_+", "_", regex=True)
    .str.strip("_")
)
df.head(10)

1,date,tme,ph,ec,tds,water_temp,date,tme,rh,air_temp_c,co2_ppm
2,,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,NaN,NaN,NaN,406.96
3,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,10:00:00,49.08,24.18,406.55
4,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,11:00:00,47.51,23.55,413.38
5,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,12:00:00,46.8,23.81,412.5
6,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,13:00:00,47.12,24.48,408.94
7,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,14:00:00,47.64,24.74,410.58
8,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,15:00:00,48.55,24.43,413.71
9,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,16:00:00,49.41,25.27,427.72
10,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,17:00:00,50.27,20.93,440.55
11,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-10 00:00:00,18:00:00,51.56,16.91,443.4

In [81]:
# Check for non-NaN counts for the left block
df[['date', 'tme', 'ph', 'ec', 'tds', 'water_temp']].notna().sum()

1
date            1
date          640
tme             0
tme           640
ph              0
ec              0
tds             0
water_temp      0
dtype: int64

In [82]:
# Check the column names
df.columns

Index(['date', 'tme', 'ph', 'ec', 'tds', 'water_temp', 'date', 'tme', 'rh',
       'air_temp_c', 'co2_ppm'],
      dtype='object', name=1)

In [83]:
# Rename the column
df.columns = [
    'date_water', 'time_water', 'ph', 'ec', 'tds', 'water_temp',
    'date_air', 'time_air', 'rh', 'air_temp_c', 'co2_ppm'
]

In [84]:
# Drop the empty left block
df = df.drop(columns=['date_water', 'time_water', 'ph', 'ec', 'tds', 'water_temp'])

In [85]:
df.head(700)

                date_air  time_air     rh air_temp_c co2_ppm
2    2024-03-10 00:00:00       NaN    NaN        NaN  406.96
3    2024-03-10 00:00:00  10:00:00  49.08      24.18  406.55
4    2024-03-10 00:00:00  11:00:00  47.51      23.55  413.38
5    2024-03-10 00:00:00  12:00:00   46.8      23.81   412.5
6    2024-03-10 00:00:00  13:00:00  47.12      24.48  408.94
..                   ...       ...    ...        ...     ...
638  2024-04-08 00:00:00  09:00:00  55.71      24.31  432.27
639  2024-04-08 00:00:00  10:00:00  53.11      25.06  424.63
640  2024-04-08 00:00:00  11:00:00  51.32      25.55  419.67
641  2024-04-08 00:00:00  12:00:00  50.94      25.43  420.01
642                  NaN  13:00:00  52.69      26.25     NaN

[641 rows x 5 columns]

In [86]:
df['datetime'] = pd.to_datetime(
    df['date_air'].astype(str) + " " + df['time_air'].astype(str),
    errors='coerce'
)
df[['datetime', 'rh', 'air_temp_c', 'co2_ppm']].head()

C:\Users\Dell\AppData\Local\Temp\ipykernel_22016\3341235726.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['datetime'] = pd.to_datetime(

             datetime     rh air_temp_c co2_ppm
2                 NaT    NaN        NaN  406.96
3 2024-03-10 10:00:00  49.08      24.18  406.55
4 2024-03-10 11:00:00  47.51      23.55  413.38
5 2024-03-10 12:00:00   46.8      23.81   412.5
6 2024-03-10 13:00:00  47.12      24.48  408.94

In [87]:
df = df.drop(columns=['date_air', 'time_air'])
df = df.dropna(subset=['rh'])

In [88]:
df.head(700)

        rh air_temp_c co2_ppm            datetime
3    49.08      24.18  406.55 2024-03-10 10:00:00
4    47.51      23.55  413.38 2024-03-10 11:00:00
5     46.8      23.81   412.5 2024-03-10 12:00:00
6    47.12      24.48  408.94 2024-03-10 13:00:00
7    47.64      24.74  410.58 2024-03-10 14:00:00
..     ...        ...     ...                 ...
638  55.71      24.31  432.27 2024-04-08 09:00:00
639  53.11      25.06  424.63 2024-04-08 10:00:00
640  51.32      25.55  419.67 2024-04-08 11:00:00
641  50.94      25.43  420.01 2024-04-08 12:00:00
642  52.69      26.25     NaN                 NaT

[640 rows x 4 columns]

In [89]:
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.sort_values('datetime').reset_index(drop=True)
df = df.drop_duplicates(subset='datetime', keep='first')
df = df.dropna(subset=['datetime'])
df.head(700)

        rh air_temp_c co2_ppm            datetime
0    49.08      24.18  406.55 2024-03-10 10:00:00
1    47.51      23.55  413.38 2024-03-10 11:00:00
2     46.8      23.81   412.5 2024-03-10 12:00:00
3    47.12      24.48  408.94 2024-03-10 13:00:00
4    47.64      24.74  410.58 2024-03-10 14:00:00
..     ...        ...     ...                 ...
634  55.71      24.31  432.27 2024-04-08 09:00:00
635  53.11      25.06  424.63 2024-04-08 10:00:00
636  51.32      25.55  419.67 2024-04-08 11:00:00
637  50.94      25.43  420.01 2024-04-08 12:00:00
638  63.37      16.29  473.38 2024-04-08 23:00:00

[636 rows x 4 columns]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 636 entries, 0 to 638
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rh          636 non-null    object
 1   air_temp_c  636 non-null    object
 2   co2_ppm     636 non-null    object
 3   datetime    636 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 24.8+ KB

In [91]:
df['rh'] = pd.to_numeric(df['rh'], errors='coerce')
df['air_temp_c'] = pd.to_numeric(df['air_temp_c'], errors='coerce')
df['co2_ppm'] = pd.to_numeric(df['co2_ppm'], errors='coerce')
df.isna().sum()

rh            0
air_temp_c    0
co2_ppm       0
datetime      0
dtype: int64

In [92]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 636 entries, 0 to 638
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rh          636 non-null    float64
 1   air_temp_c  636 non-null    float64
 2   co2_ppm     636 non-null    float64
 3   datetime    636 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3)
memory usage: 24.8 KB

      rh  air_temp_c  co2_ppm            datetime
0  49.08       24.18   406.55 2024-03-10 10:00:00
1  47.51       23.55   413.38 2024-03-10 11:00:00
2  46.80       23.81   412.50 2024-03-10 12:00:00
3  47.12       24.48   408.94 2024-03-10 13:00:00
4  47.64       24.74   410.58 2024-03-10 14:00:00

In [93]:
# Save the clean V1 dataset
df.to_csv("data/Sensor_V1_clean.csv", index=False)

### Water quality parameters Portable

In [94]:
df_portable = pd.read_excel(file, sheet_name="Water quality parametersPortabl", header=None)
df_portable

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Date,10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Air parameters,NaN,NaN
1,NaN,Replicate 1 T1,NaN,NaN,NaN,Replicate 2 T1,NaN,NaN,NaN,Replicate 3 T1,...,NaN,NaN,NaN,Replicate 3 T2,NaN,NaN,NaN,Lux,RH%,Air temp.
2,NaN,pH,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,pH,...,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,NaN,NaN,NaN
3,2024-10-03 00:00:00,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
4,2024-11-03 00:00:00,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
5,2024-12-03 00:00:00,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
6,13/3/2024,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
7,14/3/2024,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN
8,15/3/2024,5.8,1.94,0.97,24.3,5.9,2.03,1.015,24.9,5.7,...,-,-,-,-,-,-,-,NaN,NaN,NaN
9,16/3/2024,5.7,1.94,0.97,23,5.9,2.01,1.005,24.1,5.7,...,2.02,1.01,23.4,6,1.92,0.96,24.7,NaN,NaN,NaN
10,17/3/2024,5.6,1.88,0.94,23.2,5.7,1.94,0.97,24.5,5.4,...,-,-,-,-,-,-,-,NaN,NaN,NaN
11,18/3/2024,5.6,1.88,0.94,22.6,5.7,1.95,0.975,22.6,5.5,...,-,-,-,-,-,-,-,NaN,NaN,NaN
12,19/3/2024,5.6,1.89,0.945,25.1,5.7,1.93,0.965,24.5,5.5,...,-,-,-,-,-,-,-,NaN,NaN,NaN
13,20/3/2024,5.4,1.9,0.95,22.2,5.5,1.96,0.98,23.7,5.3,...,1.78,0.89,24.6,5.8,1.75,0.875,26.7,NaN,NaN,NaN
14,21/3/2024,5.9,1.87,0.935,20.6,5.9,1.91,0.955,20.3,5.9,...,1.79,0.895,23.7,5.9,1.74,0.87,25.3,NaN,NaN,NaN
15,22/3/2024,5.8,1.86,0.93,25.1,5.8,1.88,0.94,24,5.9,...,1.87,0.935,24.3,5.8,1.74,0.87,26.9,NaN,NaN,NaN
16,23/3/2024,-,-,-,-,-,-,-,-,-,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
17,24/3/2024,-,-,-,-,-,-,-,-,-,...,1.64,0.82,25,5.8,1.66,0.83,26.7,NaN,NaN,NaN
18,25/3/2024,6.4,1.82,0.91,21.6,6,1.8,0.9,21.2,5.9,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
19,26/3/2024,6.3,1.81,0.905,22.8,6,1.81,0.905,21.9,5.9,...,1.82,0.91,24.6,6,1.82,0.91,27.7,NaN,NaN,NaN
20,27/3/2024,6.6,1.77,0.885,24.2,6.4,1.76,0.88,24,6.2,...,1.78,0.89,25.7,6.1,1.82,0.91,27.9,36530,54.8,25.1
21,28/3/2024,6.4,1.78,0.89,24.2,6.2,1.77,0.885,23.9,6.1,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
22,29/3/2024,-,-,-,-,-,-,-,-,-,...,1.76,0.88,26.3,6.7,1.78,0.89,27.2,NaN,NaN,NaN
23,30/3/2024,6.9,1.71,0.855,26.5,6.8,1.67,0.835,25.1,6.6,...,1.73,0.865,28.7,7.2,1.43,0.715,28.5,NaN,NaN,NaN
24,31/3/2024,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
25,2024-01-04 00:00:00,6.8,1.58,0.79,25.2,6.7,1.51,0.755,25.2,6.6,...,0.92,0.46,27.2,7,1.17,0.585,28.3,NaN,NaN,NaN
26,2024-02-04 00:00:00,6.4,1.7,0.85,25,6.2,1.83,0.915,25.4,6.4,...,1.62,0.81,27.5,6.5,1.71,0.855,29.4,NaN,NaN,NaN
27,2024-03-04 00:00:00,6,1.63,0.815,24.8,5.9,1.76,0.88,24.5,6.3,...,1.55,NaN,27.2,6.5,1.65,NaN,28.6,65870,61.7,26.3
28,2024-04-04 00:00:00,-,-,-,-,-,-,-,-,-,...,1.67,NaN,28.8,6.1,1.76,NaN,30.9,69530,51.2,29.3
29,2024-05-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2024-06-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2024-07-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2024-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54448.333333,57.166667,25.216667
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This dataset appears to be really messy. I want the end result to turn out like this:
DateTime, pH, EC, TDS, WaterTemp, Lux, RH, AirTemp

In [95]:
# First 3 rows are header info
header_rows = df_portable.iloc[0:3].copy()

# Recreate header_rows and data just to be safe
header_rows = df_portable.iloc[0:3].copy()
data = df_portable.iloc[3:].copy().reset_index(drop=True)

# ðŸ”¥ NEW: forward-fill header labels across columns
header_filled = header_rows.ffill(axis=1)

header_filled

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Date,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,...,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,14:00:00,Air parameters,Air parameters,Air parameters
1,NaN,Replicate 1 T1,Replicate 1 T1,Replicate 1 T1,Replicate 1 T1,Replicate 2 T1,Replicate 2 T1,Replicate 2 T1,Replicate 2 T1,Replicate 3 T1,...,Replicate 2 T2,Replicate 2 T2,Replicate 2 T2,Replicate 3 T2,Replicate 3 T2,Replicate 3 T2,Replicate 3 T2,Lux,RH%,Air temp.
2,NaN,pH,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,pH,...,EC,TDS,Water temp.,pH,EC,TDS,Water temp.,Water temp.,Water temp.,Water temp.

In [96]:
new_cols = []

for col_idx in df_portable.columns:
    h0 = header_filled.iloc[0, col_idx]
    h1 = header_filled.iloc[1, col_idx]
    h2 = header_filled.iloc[2, col_idx]

    if col_idx == 0:
        # First column is Date
        new_cols.append("Date")
    else:
        parts = []
        for x in [h0, h1, h2]:
            if pd.notna(x):
                parts.append(str(x).strip())
        if parts:
            new_cols.append("_".join(parts))
        else:
            new_cols.append(f"col_{col_idx}")  # spacer columns with no header

data.columns = new_cols

data.head()

,Date,10:00:00_Replicate 1 T1_pH,10:00:00_Replicate 1 T1_EC,10:00:00_Replicate 1 T1_TDS,10:00:00_Replicate 1 T1_Water temp.,10:00:00_Replicate 2 T1_pH,10:00:00_Replicate 2 T1_EC,10:00:00_Replicate 2 T1_TDS,10:00:00_Replicate 2 T1_Water temp.,10:00:00_Replicate 3 T1_pH,...,14:00:00_Replicate 2 T2_EC,14:00:00_Replicate 2 T2_TDS,14:00:00_Replicate 2 T2_Water temp.,14:00:00_Replicate 3 T2_pH,14:00:00_Replicate 3 T2_EC,14:00:00_Replicate 3 T2_TDS,14:00:00_Replicate 3 T2_Water temp.,Air parameters_Lux_Water temp.,Air parameters_RH%_Water temp.,Air parameters_Air temp._Water temp.
0,2024-10-03 00:00:00,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
1,2024-11-03 00:00:00,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
2,2024-12-03 00:00:00,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
3,13/3/2024,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
4,14/3/2024,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN

In [97]:
data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
data.head()

,Date,10:00:00_Replicate 1 T1_pH,10:00:00_Replicate 1 T1_EC,10:00:00_Replicate 1 T1_TDS,10:00:00_Replicate 1 T1_Water temp.,10:00:00_Replicate 2 T1_pH,10:00:00_Replicate 2 T1_EC,10:00:00_Replicate 2 T1_TDS,10:00:00_Replicate 2 T1_Water temp.,10:00:00_Replicate 3 T1_pH,...,14:00:00_Replicate 2 T2_EC,14:00:00_Replicate 2 T2_TDS,14:00:00_Replicate 2 T2_Water temp.,14:00:00_Replicate 3 T2_pH,14:00:00_Replicate 3 T2_EC,14:00:00_Replicate 3 T2_TDS,14:00:00_Replicate 3 T2_Water temp.,Air parameters_Lux_Water temp.,Air parameters_RH%_Water temp.,Air parameters_Air temp._Water temp.
0,2024-10-03,-,-,-,-,-,-,-,-,-,...,1.56,0.77,22.9,6.9,1.56,0.76,23,48300,60.8,22.1
1,2024-11-03,5.3,2,1,19.3,5.8,2.02,1.01,19.1,5.6,...,2.02,1.01,22.3,5.6,2.16,1.08,22.9,61270,59.5,21.8
2,2024-12-03,5.7,1.95,0.975,22,5.8,2.02,1.01,21.2,5.7,...,2.02,1.01,25.5,6.3,1.86,0.93,26,45190,55,26.7
3,2024-03-13,5.9,1.97,0.985,22,6,2.02,1.01,22,5.8,...,2.01,1.005,25.4,6.5,1.87,0.935,26,NaN,NaN,NaN
4,2024-03-14,6,1.92,0.96,26.6,6,2,1,25.1,5.8,...,2.02,1.01,25.6,6.4,1.82,0.91,28,NaN,NaN,NaN

In [98]:
if data.columns[0] == "":
    data = data.drop(columns=[data.columns[0]])

In [99]:
clean_cols = {}

for col in data.columns:
    if col.startswith("Air parameters"):
        new_name = col.replace("_Water temp.", "").replace("_Water temp", "")
        clean_cols[col] = new_name

data = data.rename(columns=clean_cols)

In [100]:
[c for c in data.columns if c.startswith("Air parameters")]

['Air parameters_Lux',
 'Air parameters_RH%',
 'Air parameters_Air temp.',
 'Air parameters_Lux',
 'Air parameters_RH%',
 'Air parameters_Air temp.']

In [101]:
for col in data.columns:
    print(col)

Date
10:00:00_Replicate 1 T1_pH
10:00:00_Replicate 1 T1_EC
10:00:00_Replicate 1 T1_TDS
10:00:00_Replicate 1 T1_Water temp.
10:00:00_Replicate 2 T1_pH
10:00:00_Replicate 2 T1_EC
10:00:00_Replicate 2 T1_TDS
10:00:00_Replicate 2 T1_Water temp.
10:00:00_Replicate 3 T1_pH
10:00:00_Replicate 3 T1_EC
10:00:00_Replicate 3 T1_TDS
10:00:00_Replicate 3 T1_Water temp.
10:00:00_Replicate 1 T2_pH
10:00:00_Replicate 1 T2_EC
10:00:00_Replicate 1 T2_TDS
10:00:00_Replicate 1 T2_Water temp.
10:00:00_Replicate 2 T2_pH
10:00:00_Replicate 2 T2_EC
10:00:00_Replicate 2 T2_TDS
10:00:00_Replicate 2 T2_Water temp.
10:00:00_Replicate 3 T2_pH
10:00:00_Replicate 3 T2_EC
10:00:00_Replicate 3 T2_TDS
10:00:00_Replicate 3 T2_Water temp.
Air parameters_Lux
Air parameters_RH%
Air parameters_Air temp.
14:00:00_Replicate 1 T1_pH
14:00:00_Replicate 1 T1_EC
14:00:00_Replicate 1 T1_TDS
14:00:00_Replicate 1 T1_Water temp.
14:00:00_Replicate 2 T1_pH
14:00:00_Replicate 2 T1_EC
14:00:00_Replicate 2 T1_TDS
14:00:00_Replicate 2 T1_Water temp.
14:00:00_Replicate 3 T1_pH
14:00:00_Replicate 3 T1_EC
14:00:00_Replicate 3 T1_TDS
14:00:00_Replicate 3 T1_Water temp.
14:00:00_Replicate 1 T2_pH
14:00:00_Replicate 1 T2_EC
14:00:00_Replicate 1 T2_TDS
14:00:00_Replicate 1 T2_Water temp.
14:00:00_Replicate 2 T2_pH
14:00:00_Replicate 2 T2_EC
14:00:00_Replicate 2 T2_TDS
14:00:00_Replicate 2 T2_Water temp.
14:00:00_Replicate 3 T2_pH
14:00:00_Replicate 3 T2_EC
14:00:00_Replicate 3 T2_TDS
14:00:00_Replicate 3 T2_Water temp.
Air parameters_Lux
Air parameters_RH%
Air parameters_Air temp.

In [102]:
cols = list(data.columns)
len(cols)

55

In [103]:
new_cols = []

# 0 â€” Date
new_cols.append("Date")

# 1â€“24 â€” keep original names (10 AM replicates)
new_cols.extend(cols[1:25])

# 25â€“27 â€” rename to Air10
new_cols.extend(["Air10_Lux", "Air10_RH", "Air10_Temp"])

# 28â€“51 â€” keep original (14:00 water replicates)
new_cols.extend(cols[28:52])

# 52â€“54 â€” rename to Air14
new_cols.extend(["Air14_Lux", "Air14_RH", "Air14_Temp"])

In [104]:
data.columns = new_cols

In [105]:
[data.columns[i] for i in [25, 26, 27, 52, 53, 54]]

['Air10_Lux', 'Air10_RH', 'Air10_Temp', 'Air14_Lux', 'Air14_RH', 'Air14_Temp']

Aggregation stage

In [106]:
def avg_param(df, time_prefix, param):
    """
    time_prefix: '10:00:00' or '14:00:00'
    param: 'pH', 'EC', 'TDS', 'Water temp.'
    """
    cols = [c for c in df.columns
            if c.startswith(time_prefix) and c.endswith(param)]

    if len(cols) == 0:
        return pd.Series([np.nan] * len(df))

    return df[cols].apply(pd.to_numeric, errors="coerce").mean(axis=1)

In [107]:
df_10 = pd.DataFrame({
    "Date": data["Date"],
    "pH": avg_param(data, "10:00:00", "pH"),
    "EC": avg_param(data, "10:00:00", "EC"),
    "TDS": avg_param(data, "10:00:00", "TDS"),
    "WaterTemp": avg_param(data, "10:00:00", "Water temp."),
    "Lux": pd.to_numeric(data["Air10_Lux"], errors="coerce"),
    "RH": pd.to_numeric(data["Air10_RH"], errors="coerce"),
    "AirTemp": pd.to_numeric(data["Air10_Temp"], errors="coerce"),
})

# Remove blank / footer rows
df_10 = df_10.dropna(subset=["Date"]).reset_index(drop=True)

# Build DateTime safely
df_10["DateTime"] = pd.to_datetime(df_10["Date"].dt.strftime("%Y-%m-%d") + " 10:00:00")

In [108]:
df_14 = pd.DataFrame({
    "Date": data["Date"],
    "pH": avg_param(data, "14:00:00", "pH"),
    "EC": avg_param(data, "14:00:00", "EC"),
    "TDS": avg_param(data, "14:00:00", "TDS"),
    "WaterTemp": avg_param(data, "14:00:00", "Water temp."),
    "Lux": pd.to_numeric(data["Air14_Lux"], errors="coerce"),
    "RH": pd.to_numeric(data["Air14_RH"], errors="coerce"),
    "AirTemp": pd.to_numeric(data["Air14_Temp"], errors="coerce"),
})

# Remove blank / footer rows
df_14 = df_14.dropna(subset=["Date"]).reset_index(drop=True)

# Build DateTime
df_14["DateTime"] = pd.to_datetime(df_14["Date"].dt.strftime("%Y-%m-%d") + " 14:00:00")

df_14.head()

,Date,pH,EC,TDS,WaterTemp,Lux,RH,AirTemp,DateTime
0,2024-10-03,6.900000,1.571667,0.778333,22.650000,48300.0,60.8,22.1,2024-10-03 14:00:00
1,2024-11-03,5.583333,2.025000,1.012500,22.666667,61270.0,59.5,21.8,2024-11-03 14:00:00
2,2024-12-03,5.800000,1.970000,0.985000,25.716667,45190.0,55.0,26.7,2024-12-03 14:00:00
3,2024-03-13,5.900000,1.976667,0.988333,25.016667,NaN,NaN,NaN,2024-03-13 14:00:00
4,2024-03-14,5.966667,1.951667,0.975833,25.900000,NaN,NaN,NaN,2024-03-14 14:00:00

In [109]:
df_final = pd.concat([df_10, df_14], ignore_index=True)

df_final = df_final[
    ["DateTime", "pH", "EC", "TDS", "WaterTemp", "Lux", "RH", "AirTemp"]
].sort_values("DateTime").reset_index(drop=True)

df_final

,DateTime,pH,EC,TDS,WaterTemp,Lux,RH,AirTemp
0,2024-01-04 10:00:00,6.600000,1.550000,0.775000,26.416667,NaN,NaN,NaN
1,2024-01-04 14:00:00,6.916667,1.211667,0.605833,27.283333,NaN,NaN,NaN
2,2024-02-04 10:00:00,6.383333,1.718333,0.859167,26.366667,NaN,NaN,NaN
3,2024-02-04 14:00:00,6.366667,1.711667,0.855833,27.933333,NaN,NaN,NaN
4,2024-03-04 10:00:00,6.200000,1.648333,0.824167,25.766667,NaN,NaN,NaN
5,2024-03-04 14:00:00,6.333333,1.648333,NaN,27.383333,65870.0,61.7,26.3
6,2024-03-13 10:00:00,5.933333,1.978333,0.989167,22.233333,NaN,NaN,NaN
7,2024-03-13 14:00:00,5.900000,1.976667,0.988333,25.016667,NaN,NaN,NaN
8,2024-03-14 10:00:00,5.933333,1.946667,0.973333,24.966667,NaN,NaN,NaN
9,2024-03-14 14:00:00,5.966667,1.951667,0.975833,25.900000,NaN,NaN,NaN
10,2024-03-15 10:00:00,5.800000,1.985000,0.992500,25.350000,NaN,NaN,NaN
11,2024-03-15 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2024-03-16 10:00:00,5.766667,1.966667,0.983333,23.483333,22050.0,60.0,23.5
13,2024-03-16 14:00:00,5.883333,1.970000,0.985000,24.150000,NaN,NaN,NaN
14,2024-03-17 10:00:00,5.450000,1.898333,0.949167,24.383333,38880.0,68.1,22.3
15,2024-03-17 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-03-18 10:00:00,5.566667,1.913333,0.956667,24.066667,27600.0,65.3,21.8
17,2024-03-18 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2024-03-19 10:00:00,5.566667,1.890000,0.945000,24.933333,75050.0,59.3,22.8
19,2024-03-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2024-03-20 10:00:00,5.333333,1.938333,0.969167,23.633333,36200.0,60.3,22.5
21,2024-03-20 14:00:00,5.700000,1.803333,0.901667,25.233333,NaN,NaN,NaN
22,2024-03-21 10:00:00,5.866667,1.830000,0.915000,20.283333,15460.0,64.1,22.7
23,2024-03-21 14:00:00,5.833333,1.831667,0.915833,23.833333,NaN,NaN,NaN
24,2024-03-22 10:00:00,5.800000,1.818333,0.909167,24.066667,NaN,NaN,NaN
25,2024-03-22 14:00:00,5.733333,1.838333,0.919167,25.083333,NaN,NaN,NaN
26,2024-03-23 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2024-03-23 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
28,2024-03-24 10:00:00,NaN,NaN,NaN,NaN,82730.0,56.7,23.9
29,2024-03-24 14:00:00,5.850000,1.686667,0.843333,24.700000,NaN,NaN,NaN
30,2024-03-25 10:00:00,5.950000,1.813333,0.906667,22.450000,NaN,NaN,NaN
31,2024-03-25 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
32,2024-03-26 10:00:00,5.950000,1.816667,0.908333,23.250000,74420.0,41.1,28.6
33,2024-03-26 14:00:00,5.983333,1.818333,0.909167,25.750000,NaN,NaN,NaN
34,2024-03-27 10:00:00,6.400000,1.780000,0.890000,25.050000,79530.0,52.6,25.7
35,2024-03-27 14:00:00,6.450000,1.785000,0.892500,26.100000,36530.0,54.8,25.1
36,2024-03-28 10:00:00,6.133333,1.793333,0.896667,24.766667,47100.0,58.7,23.8
37,2024-03-28 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
38,2024-03-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2024-03-29 14:00:00,6.683333,1.800000,0.900000,26.350000,NaN,NaN,NaN
40,2024-03-30 10:00:00,6.766667,1.681667,0.840833,25.016667,NaN,NaN,NaN
41,2024-03-30 14:00:00,6.783333,1.673333,0.836667,27.933333,NaN,NaN,NaN
42,2024-03-31 10:00:00,NaN,NaN,0.000000,NaN,77820.0,60.1,29.6
43,2024-03-31 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
44,2024-04-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2024-04-04 14:00:00,6.033333,1.770000,NaN,29.050000,69530.0,51.2,29.3
46,2024-05-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2024-05-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2024-06-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2024-06-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2024-07-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2024-07-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2024-08-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2024-08-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2024-10-03 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2024-10-03 14:00:00,6.900000,1.571667,0.778333,22.650000,48300.0,60.8,22.1
56,2024-11-03 10:00:00,5.616667,2.025000,1.012500,19.750000,50330.0,64.0,20.4
57,2024-11-03 14:00:00,5.583333,2.025000,1.012500,22.666667,61270.0,59.5,21.8
58,2024-12-03 10:00:00,5.900000,1.920000,0.960000,21.633333,60540.0,45.0,29.5
59,2024-12-03 14:00:00,5.800000,1.970000,0.985000,25.716667,45190.0,55.0,26.7

In [110]:
df_final[['Lux','RH','AirTemp']].isna().sum()

Lux        41
RH         41
AirTemp    41
dtype: int64

handle null values

In [111]:
df_final["Date"] = df_final["DateTime"].dt.date

In [112]:
def fill_air_pair(group):
    for col in ["Lux", "RH", "AirTemp"]:
        morning_val = group.loc[group["DateTime"].dt.hour == 10, col].values
        evening_val = group.loc[group["DateTime"].dt.hour == 14, col].values

        # unpack values
        m = morning_val[0] if len(morning_val) else np.nan
        e = evening_val[0] if len(evening_val) else np.nan

        # apply your rule
        if pd.isna(m) and not pd.isna(e):
            group.loc[group["DateTime"].dt.hour == 10, col] = e
        if pd.isna(e) and not pd.isna(m):
            group.loc[group["DateTime"].dt.hour == 14, col] = m

        # if both NaN â†’ do nothing
    return group

In [113]:
df_filled = df_final.groupby("Date", group_keys=False).apply(fill_air_pair)

C:\Users\Dell\AppData\Local\Temp\ipykernel_22016\422073562.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_filled = df_final.groupby("Date", group_keys=False).apply(fill_air_pair)

In [114]:
df_filled = df_filled.sort_values("DateTime").reset_index(drop=True)

In [115]:
df_filled

,DateTime,pH,EC,TDS,WaterTemp,Lux,RH,AirTemp,Date
0,2024-01-04 10:00:00,6.600000,1.550000,0.775000,26.416667,NaN,NaN,NaN,2024-01-04
1,2024-01-04 14:00:00,6.916667,1.211667,0.605833,27.283333,NaN,NaN,NaN,2024-01-04
2,2024-02-04 10:00:00,6.383333,1.718333,0.859167,26.366667,NaN,NaN,NaN,2024-02-04
3,2024-02-04 14:00:00,6.366667,1.711667,0.855833,27.933333,NaN,NaN,NaN,2024-02-04
4,2024-03-04 10:00:00,6.200000,1.648333,0.824167,25.766667,65870.0,61.7,26.3,2024-03-04
5,2024-03-04 14:00:00,6.333333,1.648333,NaN,27.383333,65870.0,61.7,26.3,2024-03-04
6,2024-03-13 10:00:00,5.933333,1.978333,0.989167,22.233333,NaN,NaN,NaN,2024-03-13
7,2024-03-13 14:00:00,5.900000,1.976667,0.988333,25.016667,NaN,NaN,NaN,2024-03-13
8,2024-03-14 10:00:00,5.933333,1.946667,0.973333,24.966667,NaN,NaN,NaN,2024-03-14
9,2024-03-14 14:00:00,5.966667,1.951667,0.975833,25.900000,NaN,NaN,NaN,2024-03-14
10,2024-03-15 10:00:00,5.800000,1.985000,0.992500,25.350000,NaN,NaN,NaN,2024-03-15
11,2024-03-15 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-15
12,2024-03-16 10:00:00,5.766667,1.966667,0.983333,23.483333,22050.0,60.0,23.5,2024-03-16
13,2024-03-16 14:00:00,5.883333,1.970000,0.985000,24.150000,22050.0,60.0,23.5,2024-03-16
14,2024-03-17 10:00:00,5.450000,1.898333,0.949167,24.383333,38880.0,68.1,22.3,2024-03-17
15,2024-03-17 14:00:00,NaN,NaN,NaN,NaN,38880.0,68.1,22.3,2024-03-17
16,2024-03-18 10:00:00,5.566667,1.913333,0.956667,24.066667,27600.0,65.3,21.8,2024-03-18
17,2024-03-18 14:00:00,NaN,NaN,NaN,NaN,27600.0,65.3,21.8,2024-03-18
18,2024-03-19 10:00:00,5.566667,1.890000,0.945000,24.933333,75050.0,59.3,22.8,2024-03-19
19,2024-03-19 14:00:00,NaN,NaN,NaN,NaN,75050.0,59.3,22.8,2024-03-19
20,2024-03-20 10:00:00,5.333333,1.938333,0.969167,23.633333,36200.0,60.3,22.5,2024-03-20
21,2024-03-20 14:00:00,5.700000,1.803333,0.901667,25.233333,36200.0,60.3,22.5,2024-03-20
22,2024-03-21 10:00:00,5.866667,1.830000,0.915000,20.283333,15460.0,64.1,22.7,2024-03-21
23,2024-03-21 14:00:00,5.833333,1.831667,0.915833,23.833333,15460.0,64.1,22.7,2024-03-21
24,2024-03-22 10:00:00,5.800000,1.818333,0.909167,24.066667,NaN,NaN,NaN,2024-03-22
25,2024-03-22 14:00:00,5.733333,1.838333,0.919167,25.083333,NaN,NaN,NaN,2024-03-22
26,2024-03-23 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-23
27,2024-03-23 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,2024-03-23
28,2024-03-24 10:00:00,NaN,NaN,NaN,NaN,82730.0,56.7,23.9,2024-03-24
29,2024-03-24 14:00:00,5.850000,1.686667,0.843333,24.700000,82730.0,56.7,23.9,2024-03-24
30,2024-03-25 10:00:00,5.950000,1.813333,0.906667,22.450000,NaN,NaN,NaN,2024-03-25
31,2024-03-25 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,2024-03-25
32,2024-03-26 10:00:00,5.950000,1.816667,0.908333,23.250000,74420.0,41.1,28.6,2024-03-26
33,2024-03-26 14:00:00,5.983333,1.818333,0.909167,25.750000,74420.0,41.1,28.6,2024-03-26
34,2024-03-27 10:00:00,6.400000,1.780000,0.890000,25.050000,79530.0,52.6,25.7,2024-03-27
35,2024-03-27 14:00:00,6.450000,1.785000,0.892500,26.100000,36530.0,54.8,25.1,2024-03-27
36,2024-03-28 10:00:00,6.133333,1.793333,0.896667,24.766667,47100.0,58.7,23.8,2024-03-28
37,2024-03-28 14:00:00,NaN,NaN,0.000000,NaN,47100.0,58.7,23.8,2024-03-28
38,2024-03-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-29
39,2024-03-29 14:00:00,6.683333,1.800000,0.900000,26.350000,NaN,NaN,NaN,2024-03-29
40,2024-03-30 10:00:00,6.766667,1.681667,0.840833,25.016667,NaN,NaN,NaN,2024-03-30
41,2024-03-30 14:00:00,6.783333,1.673333,0.836667,27.933333,NaN,NaN,NaN,2024-03-30
42,2024-03-31 10:00:00,NaN,NaN,0.000000,NaN,77820.0,60.1,29.6,2024-03-31
43,2024-03-31 14:00:00,NaN,NaN,0.000000,NaN,77820.0,60.1,29.6,2024-03-31
44,2024-04-04 10:00:00,NaN,NaN,NaN,NaN,69530.0,51.2,29.3,2024-04-04
45,2024-04-04 14:00:00,6.033333,1.770000,NaN,29.050000,69530.0,51.2,29.3,2024-04-04
46,2024-05-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-04
47,2024-05-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-04
48,2024-06-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-04
49,2024-06-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-04
50,2024-07-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-04
51,2024-07-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-04
52,2024-08-04 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-04
53,2024-08-04 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-04
54,2024-10-03 10:00:00,NaN,NaN,NaN,NaN,48300.0,60.8,22.1,2024-10-03
55,2024-10-03 14:00:00,6.900000,1.571667,0.778333,22.650000,48300.0,60.8,22.1,2024-10-03
56,2024-11-03 10:00:00,5.616667,2.025000,1.012500,19.750000,50330.0,64.0,20.4,2024-11-03
57,2024-11-03 14:00:00,5.583333,2.025000,1.012500,22.666667,61270.0,59.5,21.8,2024-11-03
58,2024-12-03 10:00:00,5.900000,1.920000,0.960000,21.633333,60540.0,45.0,29.5,2024-12-03
59,2024-12-03 14:00:00,5.800000,1.970000,0.985000,25.716667,45190.0,55.0,26.7,2024-12-03

In [116]:
# Group columns
water_cols = ["pH", "EC", "TDS", "WaterTemp"]
air_cols = ["Lux", "RH", "AirTemp"]

In [117]:
mask_all_nan = df_filled[water_cols + air_cols].isna().all(axis=1)
df_filled[mask_all_nan]

              DateTime  pH  EC  TDS  WaterTemp  Lux  RH  AirTemp        Date
11 2024-03-15 14:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-03-15
26 2024-03-23 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-03-23
38 2024-03-29 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-03-29
46 2024-05-04 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-05-04
47 2024-05-04 14:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-05-04
48 2024-06-04 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-06-04
49 2024-06-04 14:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-06-04
50 2024-07-04 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-07-04
51 2024-07-04 14:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-07-04
52 2024-08-04 10:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-08-04
53 2024-08-04 14:00:00 NaN NaN  NaN        NaN  NaN NaN      NaN  2024-08-04

In [118]:
df_clean = df_filled[~mask_all_nan].reset_index(drop=True)
df_clean

,DateTime,pH,EC,TDS,WaterTemp,Lux,RH,AirTemp,Date
0,2024-01-04 10:00:00,6.600000,1.550000,0.775000,26.416667,NaN,NaN,NaN,2024-01-04
1,2024-01-04 14:00:00,6.916667,1.211667,0.605833,27.283333,NaN,NaN,NaN,2024-01-04
2,2024-02-04 10:00:00,6.383333,1.718333,0.859167,26.366667,NaN,NaN,NaN,2024-02-04
3,2024-02-04 14:00:00,6.366667,1.711667,0.855833,27.933333,NaN,NaN,NaN,2024-02-04
4,2024-03-04 10:00:00,6.200000,1.648333,0.824167,25.766667,65870.0,61.7,26.3,2024-03-04
5,2024-03-04 14:00:00,6.333333,1.648333,NaN,27.383333,65870.0,61.7,26.3,2024-03-04
6,2024-03-13 10:00:00,5.933333,1.978333,0.989167,22.233333,NaN,NaN,NaN,2024-03-13
7,2024-03-13 14:00:00,5.900000,1.976667,0.988333,25.016667,NaN,NaN,NaN,2024-03-13
8,2024-03-14 10:00:00,5.933333,1.946667,0.973333,24.966667,NaN,NaN,NaN,2024-03-14
9,2024-03-14 14:00:00,5.966667,1.951667,0.975833,25.900000,NaN,NaN,NaN,2024-03-14
10,2024-03-15 10:00:00,5.800000,1.985000,0.992500,25.350000,NaN,NaN,NaN,2024-03-15
11,2024-03-16 10:00:00,5.766667,1.966667,0.983333,23.483333,22050.0,60.0,23.5,2024-03-16
12,2024-03-16 14:00:00,5.883333,1.970000,0.985000,24.150000,22050.0,60.0,23.5,2024-03-16
13,2024-03-17 10:00:00,5.450000,1.898333,0.949167,24.383333,38880.0,68.1,22.3,2024-03-17
14,2024-03-17 14:00:00,NaN,NaN,NaN,NaN,38880.0,68.1,22.3,2024-03-17
15,2024-03-18 10:00:00,5.566667,1.913333,0.956667,24.066667,27600.0,65.3,21.8,2024-03-18
16,2024-03-18 14:00:00,NaN,NaN,NaN,NaN,27600.0,65.3,21.8,2024-03-18
17,2024-03-19 10:00:00,5.566667,1.890000,0.945000,24.933333,75050.0,59.3,22.8,2024-03-19
18,2024-03-19 14:00:00,NaN,NaN,NaN,NaN,75050.0,59.3,22.8,2024-03-19
19,2024-03-20 10:00:00,5.333333,1.938333,0.969167,23.633333,36200.0,60.3,22.5,2024-03-20
20,2024-03-20 14:00:00,5.700000,1.803333,0.901667,25.233333,36200.0,60.3,22.5,2024-03-20
21,2024-03-21 10:00:00,5.866667,1.830000,0.915000,20.283333,15460.0,64.1,22.7,2024-03-21
22,2024-03-21 14:00:00,5.833333,1.831667,0.915833,23.833333,15460.0,64.1,22.7,2024-03-21
23,2024-03-22 10:00:00,5.800000,1.818333,0.909167,24.066667,NaN,NaN,NaN,2024-03-22
24,2024-03-22 14:00:00,5.733333,1.838333,0.919167,25.083333,NaN,NaN,NaN,2024-03-22
25,2024-03-23 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,2024-03-23
26,2024-03-24 10:00:00,NaN,NaN,NaN,NaN,82730.0,56.7,23.9,2024-03-24
27,2024-03-24 14:00:00,5.850000,1.686667,0.843333,24.700000,82730.0,56.7,23.9,2024-03-24
28,2024-03-25 10:00:00,5.950000,1.813333,0.906667,22.450000,NaN,NaN,NaN,2024-03-25
29,2024-03-25 14:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,2024-03-25
30,2024-03-26 10:00:00,5.950000,1.816667,0.908333,23.250000,74420.0,41.1,28.6,2024-03-26
31,2024-03-26 14:00:00,5.983333,1.818333,0.909167,25.750000,74420.0,41.1,28.6,2024-03-26
32,2024-03-27 10:00:00,6.400000,1.780000,0.890000,25.050000,79530.0,52.6,25.7,2024-03-27
33,2024-03-27 14:00:00,6.450000,1.785000,0.892500,26.100000,36530.0,54.8,25.1,2024-03-27
34,2024-03-28 10:00:00,6.133333,1.793333,0.896667,24.766667,47100.0,58.7,23.8,2024-03-28
35,2024-03-28 14:00:00,NaN,NaN,0.000000,NaN,47100.0,58.7,23.8,2024-03-28
36,2024-03-29 14:00:00,6.683333,1.800000,0.900000,26.350000,NaN,NaN,NaN,2024-03-29
37,2024-03-30 10:00:00,6.766667,1.681667,0.840833,25.016667,NaN,NaN,NaN,2024-03-30
38,2024-03-30 14:00:00,6.783333,1.673333,0.836667,27.933333,NaN,NaN,NaN,2024-03-30
39,2024-03-31 10:00:00,NaN,NaN,0.000000,NaN,77820.0,60.1,29.6,2024-03-31
40,2024-03-31 14:00:00,NaN,NaN,0.000000,NaN,77820.0,60.1,29.6,2024-03-31
41,2024-04-04 10:00:00,NaN,NaN,NaN,NaN,69530.0,51.2,29.3,2024-04-04
42,2024-04-04 14:00:00,6.033333,1.770000,NaN,29.050000,69530.0,51.2,29.3,2024-04-04
43,2024-10-03 10:00:00,NaN,NaN,NaN,NaN,48300.0,60.8,22.1,2024-10-03
44,2024-10-03 14:00:00,6.900000,1.571667,0.778333,22.650000,48300.0,60.8,22.1,2024-10-03
45,2024-11-03 10:00:00,5.616667,2.025000,1.012500,19.750000,50330.0,64.0,20.4,2024-11-03
46,2024-11-03 14:00:00,5.583333,2.025000,1.012500,22.666667,61270.0,59.5,21.8,2024-11-03
47,2024-12-03 10:00:00,5.900000,1.920000,0.960000,21.633333,60540.0,45.0,29.5,2024-12-03
48,2024-12-03 14:00:00,5.800000,1.970000,0.985000,25.716667,45190.0,55.0,26.7,2024-12-03

In [119]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DateTime   49 non-null     datetime64[ns]
 1   pH         38 non-null     float64
 2   EC         38 non-null     float64
 3   TDS        41 non-null     float64
 4   WaterTemp  38 non-null     float64
 5   Lux        32 non-null     float64
 6   RH         32 non-null     float64
 7   AirTemp    32 non-null     float64
 8   Date       49 non-null     object
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 3.6+ KB

In [120]:
df_clean = df_clean.drop(columns=["Date"])

In [121]:
# Save as CSV
df_clean.to_csv("data/Portable_V1_clean.csv", index=False)