In [34]:
import numpy as np
import pandas.api.types
import re # Import regex module

In [40]:
import pandas as pd

excel_file = pd.ExcelFile('data/EXP_3.xlsx')
sheet_names = excel_file.sheet_names

print("Sheet names in 'EXP_3.xlsx':")
for sheet in sheet_names:
    print(f"- {sheet}")

Sheet names in 'EXP_3.xlsx':
- Seedlings measurements 1952024
- Water quality measurments Senso
- Water quality parametersPortabl
- Nutrients Water Consumptions
- Harvest measurements 1862024

In [35]:
import pandas as pd

loaded_cleaned_dfs = {}

for sheet_name in sheet_names:
    cleaned_sheet_name = sheet_name.replace(' ', '_').replace('/', '_').replace('\\', '_').replace(':', '_')
    csv_filename = f"cleaned_{cleaned_sheet_name}.csv"
    try:
        df = pd.read_csv(csv_filename)
        loaded_cleaned_dfs[sheet_name] = df
        print(f"Successfully loaded '{csv_filename}' into a DataFrame.")
        print(f"Shape of '{sheet_name}': {df.shape}")
    except FileNotFoundError:
        print(f"Warning: '{csv_filename}' not found. It might have been empty after cleaning.")
    except pd.errors.EmptyDataError:
        print(f"Warning: '{csv_filename}' is empty and could not be loaded into a DataFrame.")

print("\nAll available cleaned CSV files have been loaded.")

Warning: 'cleaned_Seedlings_measurements_1952024.csv' not found. It might have been empty after cleaning.
Warning: 'cleaned_Water_quality_measurments_Senso.csv' not found. It might have been empty after cleaning.
Warning: 'cleaned_Water_quality_parametersPortabl.csv' not found. It might have been empty after cleaning.
Warning: 'cleaned_Nutrients_Water_Consumptions.csv' not found. It might have been empty after cleaning.
Warning: 'cleaned_Harvest_measurements_1862024.csv' not found. It might have been empty after cleaning.

All available cleaned CSV files have been loaded.

In [36]:
# Helper function to load and preprocess headers
def _load_and_preprocess_headers(sheet_name, excel_file_path='data/EXP_3.xlsx'):
    df = None
    if sheet_name in ['Water quality parametersPortabl', 'Nutrients Water Consumptions', 'Water quality measurments Senso']:
        df = pd.read_excel(excel_file_path, sheet_name=sheet_name, header=[0, 1])
        new_columns = []
        for col_tuple in df.columns:
            top_level = str(col_tuple[0]).strip() if not pd.isna(col_tuple[0]) else ''
            second_level = str(col_tuple[1]).strip() if not pd.isna(col_tuple[1]) else ''

            if top_level.startswith('Unnamed:') and second_level:
                new_columns.append(second_level)
            elif top_level and second_level and top_level != second_level:
                new_columns.append(f"{top_level}_{second_level}")
            elif top_level:
                new_columns.append(top_level)
            elif second_level:
                new_columns.append(second_level)
            else:
                new_columns.append(f"Unnamed_Col_{len(new_columns)}")
        df.columns = new_columns
        if df.shape[0] > 0 and df.iloc[0].isnull().mean() > 0.5:
            print(f"  - Detected largely empty first row after header processing for {sheet_name}; dropping it.")
            df = df.iloc[1:].copy()
            df.reset_index(drop=True, inplace=True)
    else:
        df = pd.read_excel(excel_file_path, sheet_name=sheet_name, header=1)
        if any('Unnamed' in str(col) for col in df.columns):
            print(f"  - Detected 'Unnamed' columns after header=1; promoting df.iloc[0] to header for {sheet_name}.")
            new_header = df.iloc[0]
            df = df[1:]
            df.columns = new_header

    df.columns = [col.replace(' ', '_').replace('/', '_').replace('\\', '_').replace('.', '').strip() for col in df.columns]
    cols = pd.Series(df.columns)
    for dup in cols[cols.duplicated()].unique():
        cols[cols[cols == dup].index.values.tolist()] = [dup + '_' + str(i) if i != 0 else dup for i, i_val in enumerate(cols[cols == dup].index.values.tolist())]
    df.columns = cols
    return df

In [24]:
# Helper function for initial inspection
def _initial_inspection(df):
    print("\n1. Initial Inspection (Head):")
    print(df.head())
    print("\n2. Initial Inspection (Info):")
    df.info()
    print("\n3. Initial Inspection (Descriptive Statistics):")
    print(df.describe(include='all'))

In [25]:
# Helper function to drop entirely empty rows
def _drop_entirely_empty_rows(df, sheet_name):
    initial_rows = df.shape[0]
    df.dropna(how='all', inplace=True)
    rows_dropped = initial_rows - df.shape[0]
    if rows_dropped > 0:
        print(f"  - Dropped {rows_dropped} rows where all values were missing from {sheet_name}.")
    return df

In [26]:
# Helper function to handle missing values (fill numerical with 0)
def _handle_missing_values(df):
    print("\n4. Handling Missing Values:")
    missing_before = df.isnull().sum().sum()
    if missing_before > 0:
        print(f"Missing values before filling: {missing_before}")
        numerical_cols = df.select_dtypes(include=np.number).columns
        if not numerical_cols.empty:
            df[numerical_cols] = df[numerical_cols].fillna(0)
            print(f"  - Filled missing numerical values with 0.")
        missing_after_fillna = df.isnull().sum().sum()
        if missing_after_fillna > 0:
            print(f"  - Remaining missing values (non-numerical) after filling numerical columns with 0: {missing_after_fillna}")
        else:
            print(f"  - No remaining missing values after filling numerical columns with 0.")
    else:
        print("No missing values found.")
    return df

In [27]:
# Helper function to handle duplicates
def _handle_duplicates(df):
    print("\n5. Handling Duplicates:")
    duplicates_before = df.duplicated().sum()
    if duplicates_before > 0:
        print(f"Duplicate rows before dropping: {duplicates_before}")
        df.drop_duplicates(inplace=True)
        duplicates_after = df.duplicated().sum()
        print(f"Duplicate rows after dropping: {duplicates_after}")
    else:
        print("No duplicate rows found.")
    return df

In [39]:
# Helper function to standardize data types
def _standardize_datatypes(df):
    print("\n6. Standardizing Data Types:")
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].astype(str).str.contains(r'^\d+\.?\d*\*\d+\.?\d*$', regex=True).any():
                print(f"  - Detected 'NUMBER*NUMBER' pattern in column '{col}'. Attempting multiplication.")
                def multiply_pattern(value):
                    if isinstance(value, str) and re.fullmatch(r'^\d+\.?\d*\*\d+\.?\d*$', value):
                        try:
                            num1_str, num2_str = value.split('*')
                            return float(num1_str) * float(num2_str)
                        except ValueError:
                            return np.nan
                    return value
                df[col] = df[col].apply(multiply_pattern)
                df[col] = pd.to_numeric(df[col], errors='coerce')
                if pandas.api.types.is_numeric_dtype(df[col]):
                    print(f"  - Multiplied and converted column '{col}' to numeric.")
                    continue
                else:
                    print(f"  - Could not fully convert column '{col}' to numeric after multiplication.")

            if 'date' in str(col).lower():
                converted_date_series = pd.to_datetime(df[col], errors='coerce', dayfirst=True)
                if not converted_date_series.isnull().all():
                    df[col] = converted_date_series
                    print(f"  - Converted column '{col}' to datetime.")
                    if df[col].isnull().any():
                        print(f"    Warning: Some values in '{col}' could not be converted to datetime and became NaT.")
                    continue
                else:
                    print(f"  - Column '{col}' (date-like name) could not be effectively converted to datetime; values might be non-date strings or all NaNs.")

            converted_numeric_series = pd.to_numeric(df[col], errors='coerce')
            if pandas.api.types.is_numeric_dtype(converted_numeric_series) and not converted_numeric_series.isnull().all():
                df[col] = converted_numeric_series
                print(f"  - Converted column '{col}' to numeric.")
                continue

            if df[col].dtype == 'object':
                if df[col].nunique() / len(df[col]) < 0.5:
                    df[col] = df[col].astype('category')
                    print(f"  - Converted column '{col}' to category.")
                else:
                    print(f"  - Column '{col}' remains as object (too many unique values for category conversion or could not be converted to numeric/datetime). ")
    df.info()
    return df

In [29]:
# Helper function to address categorical inconsistencies
def _address_categorical_inconsistencies(df):
    print("\n7. Addressing Inconsistencies (Categorical Columns):")
    for col in df.select_dtypes(include='category').columns:
        print(f"  - Unique values for '{col}': {df[col].unique()}")
        df[col] = df[col].astype(str).str.strip().str.lower().astype('category')
        print(f"    Standardized unique values for '{col}': {df[col].unique()}")
    return df

In [30]:
# Helper function for outlier inspection
def _outlier_inspection(df):
    print("\n8. Outlier Inspection (Numerical Columns):")
    for col in df.select_dtypes(include=np.number).columns:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr
        outliers_count = df[(df[col] < lower_bound) | (df[col] > upper_bound)].shape[0]
        if outliers_count > 0:
            print(f"  - Column '{col}': {outliers_count} potential outliers detected (outside 1.5*IQR).")
        else:
            print(f"  - Column '{col}': No obvious outliers detected (within 1.5*IQR).")
    return df

In [31]:
# Helper function to format numerical columns
def _format_numerical_columns(df):
    print("\n9. Formatting numerical columns to 2 decimal places:")
    for col in df.select_dtypes(include=np.number).columns:
        df[col] = df[col].round(2)
        print(f"  - Rounded column '{col}' to 2 decimal places.")
    return df

In [37]:
# Helper function to save cleaned sheet
def _save_cleaned_sheet(df, sheet_name):
    sheet_name_to_filename_map = {
        'Seedlings measurements 1952024': 'Seedlings_V3_clean',
        'Water quality measurments Senso': 'WaterQualityMeasurments_V3_clean',
        'Water quality parametersPortabl': 'WaterQualityParametersPortable_V3_clean',
        'Nutrients Water Consumptions': 'Nutrients_V3_clean',
        'Harvest measurements 1862024': 'Harvest_V3_clean'
    }

    base_cleaned_name = sheet_name_to_filename_map.get(
        sheet_name,
        sheet_name.replace(' ', '_').replace('/', '_').replace('\\', '_').replace(':', '_') + '_cleaned_fallback'
    )

    csv_filename = f"data/{base_cleaned_name}.csv"
    df.to_csv(csv_filename, index=False)
    print(f"Cleaned sheet saved as '{csv_filename}'.")

In [33]:
cleaned_dfs = {}

for sheet_name in sheet_names:
    print(f"\n--- Processing Sheet: {sheet_name} ---")

    df = _load_and_preprocess_headers(sheet_name)
    df = _drop_entirely_empty_rows(df, sheet_name)
    _initial_inspection(df)
    df = _handle_missing_values(df)
    df = _handle_duplicates(df)
    df = _standardize_datatypes(df)
    df = _address_categorical_inconsistencies(df)
    df = _outlier_inspection(df)
    df = _format_numerical_columns(df)

    cleaned_dfs[sheet_name] = df
    _save_cleaned_sheet(df, sheet_name)

print("\nAll sheets processed and cleaned.")

--- Processing Sheet: Seedlings measurements 1952024 ---

1. Initial Inspection (Head):
   Plant_NO_  Plant_height__(cm)  Shoot_length_(cm)  Root_length_(cm)  \
0          1                16.5                8.0               8.5
1          2                15.0                7.0               8.0
2          3                16.0                8.0               8.0
3          4                12.5                6.0               6.5
4          5                13.5                6.0               7.5

  Head_diameter_(cm)  Stem_diameter__(cm)  Total_weight_(g)  Shoot_weight_(g)  \
0                9*5                  0.3                 6                 4
1                8*5                  0.3                 5                 3
2               10*9                  0.4                 6                 3
3              6.5*6                  0.4                 5                 4
4            6.5*6.5                  0.3                 4                 3

   Root_weight_(g)  No_of_leaves
0                2            12
1                2            12
2                3            12
3                1            10
4                1            11

2. Initial Inspection (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Plant_NO_            10 non-null     int64
 1   Plant_height__(cm)   10 non-null     float64
 2   Shoot_length_(cm)    10 non-null     float64
 3   Root_length_(cm)     10 non-null     float64
 4   Head_diameter_(cm)   10 non-null     object
 5   Stem_diameter__(cm)  10 non-null     float64
 6   Total_weight_(g)     10 non-null     int64
 7   Shoot_weight_(g)     10 non-null     int64
 8   Root_weight_(g)      10 non-null     int64
 9   No_of_leaves         10 non-null     int64
dtypes: float64(4), int64(5), object(1)
memory usage: 932.0+ bytes

3. Initial Inspection (Descriptive Statistics):
        Plant_NO_  Plant_height__(cm)  Shoot_length_(cm)  Root_length_(cm)  \
count    10.00000           10.000000           10.00000         10.000000
unique        NaN                 NaN                NaN               NaN
top           NaN                 NaN                NaN               NaN
freq          NaN                 NaN                NaN               NaN
mean      5.50000           14.450000            6.30000          8.150000
std       3.02765            1.423025            1.00554          1.001388
min       1.00000           12.500000            5.50000          6.500000
25%       3.25000           13.125000            5.50000          7.500000
50%       5.50000           14.500000            6.00000          8.000000
75%       7.75000           15.750000            6.75000          8.875000
max      10.00000           16.500000            8.00000         10.000000

       Head_diameter_(cm)  Stem_diameter__(cm)  Total_weight_(g)  \
count                  10             10.00000         10.000000
unique                 10                  NaN               NaN
top                   9*5                  NaN               NaN
freq                    1                  NaN               NaN
mean                  NaN              0.34000          4.800000
std                   NaN              0.05164          0.788811
min                   NaN              0.30000          4.000000
25%                   NaN              0.30000          4.000000
50%                   NaN              0.30000          5.000000
75%                   NaN              0.40000          5.000000
max                   NaN              0.40000          6.000000

        Shoot_weight_(g)  Root_weight_(g)  No_of_leaves
count          10.000000        10.000000      10.00000
unique               NaN              NaN           NaN
top                  NaN              NaN           NaN
freq                 NaN              NaN           NaN
mean            3.000000         1.800000      11.30000
std             0.666667         0.632456       1.05935
min             2.000000         1.000000      10.00000
25%             3.000000         1.250000      10.25000
50%             3.000000         2.000000      11.50000
75%             3.000000         2.000000      12.00000
max             4.000000         3.000000      13.00000

4. Handling Missing Values:
No missing values found.

5. Handling Duplicates:
No duplicate rows found.

6. Standardizing Data Types:
  - Detected 'NUMBER*NUMBER' pattern in column 'Head_diameter_(cm)'. Attempting multiplication.
  - Multiplied and converted column 'Head_diameter_(cm)' to numeric.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Plant_NO_            10 non-null     int64
 1   Plant_height__(cm)   10 non-null     float64
 2   Shoot_length_(cm)    10 non-null     float64
 3   Root_length_(cm)     10 non-null     float64
 4   Head_diameter_(cm)   10 non-null     float64
 5   Stem_diameter__(cm)  10 non-null     float64
 6   Total_weight_(g)     10 non-null     int64
 7   Shoot_weight_(g)     10 non-null     int64
 8   Root_weight_(g)      10 non-null     int64
 9   No_of_leaves         10 non-null     int64
dtypes: float64(5), int64(5)
memory usage: 932.0 bytes

7. Addressing Inconsistencies (Categorical Columns):

8. Outlier Inspection (Numerical Columns):
  - Column 'Plant_NO_': No obvious outliers detected (within 1.5*IQR).
  - Column 'Plant_height__(cm)': No obvious outliers detected (within 1.5*IQR).
  - Column 'Shoot_length_(cm)': No obvious outliers detected (within 1.5*IQR).
  - Column 'Root_length_(cm)': No obvious outliers detected (within 1.5*IQR).
  - Column 'Head_diameter_(cm)': 2 potential outliers detected (outside 1.5*IQR).
  - Column 'Stem_diameter__(cm)': No obvious outliers detected (within 1.5*IQR).
  - Column 'Total_weight_(g)': No obvious outliers detected (within 1.5*IQR).
  - Column 'Shoot_weight_(g)': 4 potential outliers detected (outside 1.5*IQR).
  - Column 'Root_weight_(g)': No obvious outliers detected (within 1.5*IQR).
  - Column 'No_of_leaves': No obvious outliers detected (within 1.5*IQR).

9. Formatting numerical columns to 2 decimal places:
  - Rounded column 'Plant_NO_' to 2 decimal places.
  - Rounded column 'Plant_height__(cm)' to 2 decimal places.
  - Rounded column 'Shoot_length_(cm)' to 2 decimal places.
  - Rounded column 'Root_length_(cm)' to 2 decimal places.
  - Rounded column 'Head_diameter_(cm)' to 2 decimal places.
  - Rounded column 'Stem_diameter__(cm)' to 2 decimal places.
  - Rounded column 'Total_weight_(g)' to 2 decimal places.
  - Rounded column 'Shoot_weight_(g)' to 2 decimal places.
  - Rounded column 'Root_weight_(g)' to 2 decimal places.
  - Rounded column 'No_of_leaves' to 2 decimal places.
Cleaned sheet saved as 'data/Seedlings_V3_clean.csv'.

--- Processing Sheet: Water quality measurments Senso ---

1. Initial Inspection (Head):
  Date  Tme  Replicate_1_T1_pH  Replicate_1_T1_EC  Replicate_1_T1_TDS  \
0       NaN                NaN                NaN                 NaN
1  NaN  NaN                NaN                NaN                 NaN
2  NaN  NaN                NaN                NaN                 NaN
3  NaN  NaN                NaN                NaN                 NaN
4  NaN  NaN                NaN                NaN                 NaN

   Replicate_1_T1_Water_temp Replicate_1_T1_Date Replicate_1_T1_Tme  \
0                        NaN          2024-05-19           17:00:00
1                        NaN          2024-05-19           18:00:00
2                        NaN          2024-05-19           19:00:00
3                        NaN          2024-05-19           20:00:00
4                        NaN          2024-05-19           21:00:00

   Air_parameters_RH%  Air_parameters_Air_temp  Air_parameters_CO2
0               51.62                    24.81              415.25
1               53.18                    23.45              415.76
2               54.38                    24.87              424.68
3               55.19                    25.29              432.47
4               57.20                    25.28              435.42

2. Initial Inspection (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1 non-null      object
 1   Tme                        0 non-null      float64
 2   Replicate_1_T1_pH          0 non-null      float64
 3   Replicate_1_T1_EC          0 non-null      float64
 4   Replicate_1_T1_TDS         0 non-null      float64
 5   Replicate_1_T1_Water_temp  0 non-null      float64
 6   Replicate_1_T1_Date        712 non-null    datetime64[ns]
 7   Replicate_1_T1_Tme         712 non-null    object
 8   Air_parameters_RH%         712 non-null    float64
 9   Air_parameters_Air_temp    712 non-null    float64
 10  Air_parameters_CO2         712 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 61.3+ KB

3. Initial Inspection (Descriptive Statistics):
       Date  Tme  Replicate_1_T1_pH  Replicate_1_T1_EC  Replicate_1_T1_TDS  \
count     1  0.0                0.0                0.0                 0.0
unique    1  NaN                NaN                NaN                 NaN
top          NaN                NaN                NaN                 NaN
freq      1  NaN                NaN                NaN                 NaN
mean    NaN  NaN                NaN                NaN                 NaN
min     NaN  NaN                NaN                NaN                 NaN
25%     NaN  NaN                NaN                NaN                 NaN
50%     NaN  NaN                NaN                NaN                 NaN
75%     NaN  NaN                NaN                NaN                 NaN
max     NaN  NaN                NaN                NaN                 NaN
std     NaN  NaN                NaN                NaN                 NaN

        Replicate_1_T1_Water_temp            Replicate_1_T1_Date  \
count                         0.0                            712
unique                        NaN                            NaN
top                           NaN                            NaN
freq                          NaN                            NaN
mean                          NaN  2024-06-03 16:20:53.932583936
min                           NaN            2024-05-19 00:00:00
25%                           NaN            2024-05-27 00:00:00
50%                           NaN            2024-06-03 00:00:00
75%                           NaN            2024-06-12 00:00:00
max                           NaN            2024-06-19 00:00:00
std                           NaN                            NaN

       Replicate_1_T1_Tme  Air_parameters_RH%  Air_parameters_Air_temp  \
count                 712          712.000000               712.000000
unique                 24                 NaN                      NaN
top              08:00:00                 NaN                      NaN
freq                   30                 NaN                      NaN
mean                  NaN           61.472317                25.461896
min                   NaN           37.730000                17.880000
25%                   NaN           57.467500                23.867500
50%                   NaN           61.585000                25.325000
75%                   NaN           65.470000                27.072500
max                   NaN           72.210000                44.490000
std                   NaN            5.477489                 2.893664

        Air_parameters_CO2
count           712.000000
unique                 NaN
top                    NaN
freq                   NaN
mean            450.344157
min             405.650000
25%             434.245000
50%             446.615000
75%             462.520000
max             551.480000
std              22.034946

4. Handling Missing Values:
Missing values before filling: 4271
  - Filled missing numerical values with 0.
  - Remaining missing values (non-numerical) after filling numerical columns with 0: 711

5. Handling Duplicates:
No duplicate rows found.

6. Standardizing Data Types:
  - Column 'Date' (date-like name) could not be effectively converted to datetime; values might be non-date strings or all NaNs.
  - Converted column 'Date' to category.
  - Converted column 'Replicate_1_T1_Tme' to category.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1 non-null      category
 1   Tme                        712 non-null    float64
 2   Replicate_1_T1_pH          712 non-null    float64
 3   Replicate_1_T1_EC          712 non-null    float64
 4   Replicate_1_T1_TDS         712 non-null    float64
 5   Replicate_1_T1_Water_temp  712 non-null    float64
 6   Replicate_1_T1_Date        712 non-null    datetime64[ns]
 7   Replicate_1_T1_Tme         712 non-null    category
 8   Air_parameters_RH%         712 non-null    float64
 9   Air_parameters_Air_temp    712 non-null    float64
 10  Air_parameters_CO2         712 non-null    float64
dtypes: category(2), datetime64[ns](1), float64(8)
memory usage: 52.4 KB

7. Addressing Inconsistencies (Categorical Columns):
  - Unique values for 'Date': [' ', NaN]
Categories (1, object): [' ']
    Standardized unique values for 'Date': ['', 'nan']
Categories (2, object): ['', 'nan']
  - Unique values for 'Replicate_1_T1_Tme': [17:00:00, 18:00:00, 19:00:00, 20:00:00, 21:00:00, ..., 12:00:00, 13:00:00, 14:00:00, 15:00:00, 16:00:00]
Length: 24
Categories (24, object): [00:00:00, 01:00:00, 02:00:00, 03:00:00, ..., 20:00:00, 21:00:00, 22:00:00, 23:00:00]
    Standardized unique values for 'Replicate_1_T1_Tme': ['17:00:00', '18:00:00', '19:00:00', '20:00:00', '21:00:00', ..., '12:00:00', '13:00:00', '14:00:00', '15:00:00', '16:00:00']
Length: 24
Categories (24, object): ['00:00:00', '01:00:00', '02:00:00', '03:00:00', ..., '20:00:00', '21:00:00', '22:00:00', '23:00:00']

8. Outlier Inspection (Numerical Columns):
  - Column 'Tme': No obvious outliers detected (within 1.5*IQR).
  - Column 'Replicate_1_T1_pH': No obvious outliers detected (within 1.5*IQR).
  - Column 'Replicate_1_T1_EC': No obvious outliers detected (within 1.5*IQR).
  - Column 'Replicate_1_T1_TDS': No obvious outliers detected (within 1.5*IQR).
  - Column 'Replicate_1_T1_Water_temp': No obvious outliers detected (within 1.5*IQR).
  - Column 'Air_parameters_RH%': 5 potential outliers detected (outside 1.5*IQR).
  - Column 'Air_parameters_Air_temp': 14 potential outliers detected (outside 1.5*IQR).
  - Column 'Air_parameters_CO2': 15 potential outliers detected (outside 1.5*IQR).

9. Formatting numerical columns to 2 decimal places:
  - Rounded column 'Tme' to 2 decimal places.
  - Rounded column 'Replicate_1_T1_pH' to 2 decimal places.
  - Rounded column 'Replicate_1_T1_EC' to 2 decimal places.
  - Rounded column 'Replicate_1_T1_TDS' to 2 decimal places.
  - Rounded column 'Replicate_1_T1_Water_temp' to 2 decimal places.
  - Rounded column 'Air_parameters_RH%' to 2 decimal places.
  - Rounded column 'Air_parameters_Air_temp' to 2 decimal places.
  - Rounded column 'Air_parameters_CO2' to 2 decimal places.
Cleaned sheet saved as 'data/WaterQualityMeasurments_V3_clean.csv'.

--- Processing Sheet: Water quality parametersPortabl ---

1. Initial Inspection (Head):
  Date_Unnamed:_0_level_1 10:00:00_Replicate_1_T1 10:00:00_Replicate_1_T11  \
0                     NaN                      pH                      EC
1               19/5/2024                       -                        -
2               20/5/2024                       -                        -
3               21/5/2024                     6.9                     2.17
4               22/5/2024                       7                      2.6

  10:00:00_Replicate_1_T12 10:00:00_Replicate_1_T13 10:00:00_Replicate_2_T1  \
0                     TDS              Water temp.                       pH
1                        -                        -                       -
2                        -                        -                       -
3                    1.085                     21.4                     7.2
4                      1.3                     21.7                     7.2

  10:00:00_Replicate_2_T11 10:00:00_Replicate_2_T12 10:00:00_Replicate_2_T13  \
0                      EC                      TDS              Water temp.
1                        -                        -                        -
2                        -                        -                        -
3                     2.62                     1.31                     21.3
4                     2.63                    1.315                     21.7

  10:00:00_Replicate_3_T1  ... 14:00:00_Replicate_2_T21  \
0                      pH  ...                      EC
1                       -  ...                        -
2                       -  ...                        -
3                     7.6  ...                      2.5
4                     7.1  ...                        -

  14:00:00_Replicate_2_T22 14:00:00_Replicate_2_T23 14:00:00_Replicate_3_T2  \
0                     TDS              Water temp.                       pH
1                        -                        -                       -
2                        -                        -                       -
3                     1.25                     23.2                     7.5
4                        -                        -                       -

  14:00:00_Replicate_3_T21 14:00:00_Replicate_3_T22 14:00:00_Replicate_3_T23  \
0                      EC                      TDS              Water temp.
1                        -                        -                        -
2                        -                        -                        -
3                      2.7                     1.35                     23.7
4                        -                        -                        -

  Air_parameters_Lux1 Air_parameters_Air_Temp1 Air_parameters_RH%2
0                 NaN                      NaN                 NaN
1                   -                        -                   -
2                   -                        -                   -
3                   -                        -                   -
4               20190                     25.3                67.9

[5 rows x 56 columns]

2. Initial Inspection (Info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date_Unnamed:_0_level_1   32 non-null     object
 1   10:00:00_Replicate_1_T1   33 non-null     object
 2   10:00:00_Replicate_1_T11  33 non-null     object
 3   10:00:00_Replicate_1_T12  33 non-null     object
 4   10:00:00_Replicate_1_T13  33 non-null     object
 5   10:00:00_Replicate_2_T1   32 non-null     object
 6   10:00:00_Replicate_2_T11  33 non-null     object
 7   10:00:00_Replicate_2_T12  33 non-null     object
 8   10:00:00_Replicate_2_T13  33 non-null     object
 9   10:00:00_Replicate_3_T1   32 non-null     object
 10  10:00:00_Replicate_3_T11  33 non-null     object
 11  10:00:00_Replicate_3_T12  33 non-null     object
 12  10:00:00_Replicate_3_T13  33 non-null     object
 13  10:00:00_Replicate_1_T2   33 non-null     object
 14  10:00:00_Replicate_1_T21  33 non-null     object
 15  10:00:00_Replicate_1_T22  33 non-null     object